.libros{
    font-family: Helvetica;
    color: white;
}
/* unvisited link */
b:link {
  color: red;
}

/* visited link */
b:visited {
  color: green;
}

/* mouse over link */
b:hover {
  color: hotpink;
}
